{% extends 'partials/base.html' %}
{% load static %}


{% block content %}

    <div class="header fixed-top bg-surface d-flex justify-content-center align-items-center" >
        <a href="javascript:void(0);" class="left back-btn"><i class="icon-left-btn"></i></a>
        <h3>Change Login Password</h3>
    </div>
    <div class="pt-45 pb-16" style="margin-top: 3rem;">
        <div class="tf-container">
            <form method="POST">
                {% csrf_token %}


                <fieldset class="mt-4">
                    <label class="mb-8">Current Password</label>
                    <div class="box-auth-pass">
                        <input type="password" name="old_password" required placeholder="Enter Current Password" class="password-field">
                        <span class="show-pass">
                            <i class="icon-view"></i>
                            <i class="icon-view-hide"></i>
                        </span>
                    </div>
                </fieldset>

                <fieldset class="mt-16">
                    <label class="mb-8">New Login Password</label>
                    <div class="box-auth-pass">
                        <input type="password" name="new_password" required placeholder="Enter your New Password" class="password-field">
                        <span class="show-pass">
                            <i class="icon-view"></i>
                            <i class="icon-view-hide"></i>
                        </span>
                    </div>
                </fieldset>

                <ul class="mt-16">
                    <li class="d-flex gap-4 align-items-center">
                        <input type="checkbox" class="tf-checkbox style-2" id="cb1" checked> 
                        <label class="text-small text-white" for="cb1">8 - 32 characters long</label>
                    </li>
                    <li class="mt-12 d-flex gap-4 align-items-center">
                        <input type="checkbox" class="tf-checkbox style-2" id="cb2" checked> 
                        <label class="text-small text-white" for="cb2">1 lowercase character</label>
                    </li>
                    <li class="mt-12 d-flex gap-4 align-items-center">
                        <input type="checkbox" class="tf-checkbox style-2" id="cb3" checked> 
                        <label class="text-small text-white" for="cb3">1 uppercase character</label>
                    </li>
                    <li class="mt-12 d-flex gap-4 align-items-center">
                        <input type="checkbox" class="tf-checkbox style-2" id="cb4" checked> 
                        <label class="text-small text-white" for="cb4">1 number</label>
                    </li>
                    <li class="mt-12 d-flex gap-4 align-items-center">
                        <input type="checkbox" class="tf-checkbox style-2" id="cb5" checked> 
                        <label class="text-small text-white" for="cb5">1 symbol</label>
                    </li>
                </ul>

                <fieldset class="mt-16">
                    <label class="mb-8">Confirm New Login Password</label>
                    <div class="box-auth-pass">
                        <input type="password" name="confirm_new_password" required placeholder="Confirm Your New Password" class="password-field">
                        <span class="show-pass">
                            <i class="icon-view"></i>
                            <i class="icon-view-hide"></i>
                        </span>
                    </div>
                </fieldset>

                <button type="submit" class="mt-40 tf-btn lg">Confirm</button>
            </form>
        </div>
    </div>

   
{% endblock content %}
    