{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

 <div class="pt-10 pb-16 mt-5">
        <div class="tf-container">

            <h5 class="mt-12 text-danger">QFS Privacy:</h5>

            <p class="mt-8 " style="line-height: px;">
                <h5>QFS (Quantum Financial System)</h5> <br>

                <span style="line-height: 22px;">
                    Privacy in crypto platforms covers three main areas:
                </span> <br> <br>

                <h6>Key Points:</h6><br> 

                <p style="line-height: 22px;">
                    - User Data Privacy: Protection of personally identifiable information (PII) like email, phone number,   IP address, and ID documents (if KYC is required). <br> <br>

                    - Transaction Privacy: Ensuring that financial activities (wallet balances, transaction history, etc.) are not exposed to unauthorized parties. <br> <br>

                    - Network Privacy: Safeguarding communications between users and the platform from surveillance or interception. <br> 
                </p>

                <br>
                <span style="line-height: 22px;">
                    Although often discussed in alternative finance and tech circles, there is no verified evidence that a global QFS is currently active. Many claims about it are speculative or theoretical.
                </span>
                <br><br>

                <h5>Best Practices for Users</h5> <br>

                - Use non-custodial wallets (you control the private keys).<br> <br>

                - Enable 2FA and hardware authentication.<br> <br>

                - Avoid reusing passwords or sharing login details. <br> <br>

                - Trade through VPN or Tor for added network privacy.<br> <br>
                
                - Prefer DEXs or privacy coins for confidential transactions.<br> <br>

            </p>

            <div style="margin-top: 2rem;">.</div>

        </div>
    </div>

{% endblock content %}