{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

 <div class="pt-10 pb-16 mt-5">
        <div class="tf-container">

            <h5 class="mt-12 text-danger">About QFS:</h5>

            <p class="mt-8 " style="line-height: px;">
                <h5>QFS (Quantum Financial System)</h5> <br>

                <span style="line-height: 20px;">
                    The Quantum Financial System (QFS) is a proposed next-generation global financial network that aims to replace or upgrade the current centralized banking system. It is said to use quantum computing and blockchain technology to provide secure, transparent, and instantaneous financial transactions.
                </span> <br> <br>

                <h6>Key Points:</h6><br> 

                - Security: Uses quantum encryption to prevent hacking or fraud. <br> <br>

                - Transparency: Every transaction is recorded and traceable on a secure ledger. <br> <br>

                - Speed: Processes global payments in real time without intermediaries. <br> <br>

                - Decentralization: Reduces the power of central banks and promotes fairness in finance.

                <br> <br>
                <span style="line-height: 20px;">
                    Although often discussed in alternative finance and tech circles, there is no verified evidence that a global QFS is currently active. Many claims about it are speculative or theoretical.
                </span>

            </p>

        </div>
    </div>

{% endblock content %}