{% extends 'partials/base.html' %}
{% load static %}


{% block content %}

    <div class="pt-68 pb-80">

        <div class="bg-menuDark tf-container">
            <div class="tf-tab pt-12 mt-4">

                <div class="tab-content pt-16 pb-16">
					<div class="tab-pane fade active show" id="history" role="tabpanel">
						<ul>
                            <li>
                                <a href="https://t.me/+1XXXXXXX" target="_blank" class="coin-item style-1 gap-12 bg-surface mb-2">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-large">Telegram</p>
                                            <span class="text-secondary">VIP</span>
                                        </div>
                                        <!-- <div class="box-price">
                                            <p class="text-small mb-4"><span class="text-primary">+</span> BTC 0.0056</p>
                                            <p class="text-end"><span class="text-red">-</span> $950.50</p>
                                        </div> -->
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="https://wa.me/+55(021)96312-XXXX" class="coin-item style-1 gap-12 bg-surface mb-2">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/WhatsApp_Logo_green.svg" alt="img" class="img">
                                    <div class="content">
                                        <div class="title">
                                            <p class="mb-4 text-large">WhatsApp</p>
                                            <span class="text-secondary"> VIP </span>
                                        </div>
                                        <!-- <div class="box-price">
                                            <p class="text-small mb-4"><span class="text-primary">+</span> BTC 0.0056</p>
                                            <p class="text-end"><span class="text-red">-</span> $950.50</p>
                                        </div> -->
                                    </div>
                                </a>
                            </li>
                        </ul>
					</div>

				</div>

            </div>
        </div>
    </div>

{% endblock content %}
    