{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    
    <div class="header fixed-top bg-surface d-flex justify-content-center align-items-center">
        <a href="#" class="left back-btn"><i class="icon-left-btn"></i></a>
        
    </div>
    <div class="pt-45 pb-16">
        <div class="tf-container">
            <div class="banner-reset position-relative text-center mt-60">
                

            </div>

            <form method="POST" class="mt-60 mb-16">
                {% csrf_token %}

                <div style="display: flex; justify-content: center; align-content: center; margin-bottom: 0rem;"> 
                    <a href="/"><img src="{% static 'images/logo/48.png' %}" alt="QFS Bond">  </a>
                </div>


                <h2 class="mt-20 text-center">Reset Password</h2>
                <fieldset class="mt-40">
                    <label class="label-ip">
                        <p class="mb-8 text-small">Email</p>
                        <input type="text" name="email" placeholder="i@gmail.com">
                    </label>
                </fieldset>
                <button type="submit" class="mt-40">Submit</button>
            </form>
            
           
        
        </div>
    </div>

{% endblock content %}
    
    

