{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    
    <section class="pt-45 pb-20" style=" ">
       
        <div class="header fixed-top bg-surface">
            <a href="#" class="left back-btn"><i class="icon-left-btn"></i></a>
        </div>

        <div class="pt-45 pb-20">
            <div class="tf-container">
                
                <form method="POST" class="mt-16">
                    {% csrf_token %}

                    <h2 class="text-center">Reset Password</h2>

                    <fieldset class="mt-16 mb-12">
                        <label class="label-ip">
                            <p class="mb-8 text-small">New Password</p>
                            <div class="box-auth-pass">
                                <input type="password" name="password" required placeholder="New Password" class="password-field">
                                <span class="show-pass">
                                    <i class="icon-view"></i>
                                    <i class="icon-view-hide"></i>
                                </span>
                            </div>
                        </label>
                    </fieldset>

                    <fieldset class="mt-16 mb-12">
                        <label class="label-ip">
                            <p class="mb-8 text-small">Confirm Password</p>
                            <div class="box-auth-pass">
                                <input type="password" name="confirm_password" required placeholder="Confirm New Password" class="password-field">
                                <span class="show-pass">
                                    <i class="icon-view"></i>
                                    <i class="icon-view-hide"></i>
                                </span>
                            </div>
                        </label>
                    </fieldset>

                    <a href="{% url 'userauths:forget_password' %}" class="text-secondary">Forgot Password?</a>
                    <button class="mt-20" type="submit">Login</button>
                    <p class="mt-20 text-center text-small">Don't have an Account? &ensp;<a href="{% url 'userauths:register' %}">Register</a></p>
                    
                </form>
            </div>
        </div>

            
    </section>

{% endblock content %}
    
    

