{% load static %}
 <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-sm">
        <div class="p-16 line-bt text-center">
            <h4>Welcome Back</h4>
            <p class="mt-8 text-large"> {{request.user}} </p>
        </div>
        <div class="grid-2">
            <a href="#" class="text-center text-button fw-6 p-10 text-primary btn-hide-modal"  data-bs-toggle="modal" data-bs-target="#notiPrivacy"> Ok </a> 
        </a>
        </div>
    </div>
</div>