{% load static %}

<ul class="mt-16 grid-3 gap-12">

    <!-- <li>
        <a href="#" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-convert"></i>
            Convert
        </a>
    </li> -->

    <!-- <li>
        <a href="#" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-metalogo"></i>
            Consign
        </a>
    </li> -->

    <li>
        <a href="{% url 'core:qrcode' %}" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-bank"></i>
            Receive
        </a>
    </li>

    <!-- <li>
        <a href="#" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-fileText"></i>
            Futures contract
        </a>
    </li> -->

    <!-- <li>
        <a href="#" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-graph"></i>
            Ageless
        </a>
    </li> -->

    <!-- <li>
        <a href="#" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-grid-nine"></i>
            Choice
        </a>
    </li>

    <li>
        <a href="#" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-game-control"></i>
            Simulated trading
        </a>
    </li>

    <li>
        <a href="#" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-robot"></i>
            Bot
        </a>
    </li> -->

    <li>
        <a href="{% url 'core:send_money' %}" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-way"></i>
            Send
        </a>
    </li>

    <li>
        <a href="{% url 'core:all_wallets' %}" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-swap"></i>
            Connect
        </a>
    </li>

    <li>
        <a href="{% url 'core:mine' %}" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-database"></i>
            Mine
        </a>
    </li>

    <li>
        <a href="{% url 'core:videos' %}" class="tf-list-item d-flex flex-column gap-8 align-items-center text-break text-center">
            <i class="icon icon-grid-nine"></i>
            Videos
        </a>
    </li>

</ul>